<div class="my-page">
  <h1>MY PAGE</h1>
</div>

<div class="header-list">
  <ul>
    <% if user_signed_in? %>
      <li><%= button_to 'log out', destroy_user_session_path, method: :delete %></li>
      <li><%= link_to "top", root_path %></li>
      <li><%= link_to "post new recipe", new_sweet_path %></li>
      <li><%= link_to 'return diagnosis', sindans_index_path %></li>
      <li><%= link_to 'recipe list', sweets_path %></li>
    <% else %>
      <li><%= link_to "top", root_path %></li>
      <li><%= link_to "sign up", new_user_registration_path %></li>
      <li><%= link_to "log in", new_user_session_path %></li>
      <li><%= link_to "post new recipe", new_sweet_path %></li>
      <li><%= link_to 'return diagnosis', sindans_index_path %></li>
      <li><%= link_to 'recipe list', sweets_path %></li>
    <% end %>
  </ul>
</div>

<div class='name1'>
  <p>Name <br>
</div>
<div class='name2'>
  <%= @user.name %></p>
</div>
<div class='emailaddress1'>
  <p>E-mail address <br>
</div>
<div class='emailaddress2'>
  <%= @user.email %></p>
</div>
<div class='profile1'>
  <p>Profile <br>
</div>

  <%= @user.profile %></p>

<%= image_tag @user.image_url, size: "250x200" if @user.image? %>

<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>

<h2>List of my posts</h2>
<% @user.sweets.each do |t| %>
  <%= t.user.name %>
  <%= t.about %>
<% end %>

<!-- 以下はいいね機能を実装している場合-->
<h2>My likes list</h2>
<% @user.liked_sweets.each do |t| %>
  <%= t.user.name %>
  <%= t.about %>
<% end %>
<!-- ここまで-->

<%= link_to "Back to sweets list", sweets_path %>

<div class="line">
</div>