<div class="post-new-recipe">
    <h1>POST NEW RECIPE</h1>
</div>

<div class="header-list">
    <ul>
        <% if user_signed_in? %>
            <li><%= link_to 'log out', destroy_user_session_path, method: :delete %></li>
            <li><%= link_to "top", root_path %></li>
            <li><%= link_to "my page", user_path(current_user.id) %></li>
            <li><%= link_to 'return diagnosis', sindans_index_path %></li>
            <li><%= link_to 'recipe list', sweets_path %></li>
        <% else %>
            <li><%= link_to "top", root_path %></li>
            <li><%= link_to "sign up", new_user_registration_path %></li>
            <li><%= link_to "log in", new_user_session_path %></li>
            <li><%= link_to 'return diagnosis', sindans_index_path %></li>
            <li><%= link_to 'recipe list', sweets_path %></li>
        <% end %>
    </ul>
</div>

<%= form_for @sweet do |f| %>

    <div class="field">
        <%= f.label:レシピ名 %>
        <%= f.text_field :name, :size => 30 %>
    </div>

    <div class="field">
        <%= f.label :レシピ %>
        <%= f.text_area :about, :size => "30x2" %>
    </div>

    <div class="field">
        <%= f.label :写真 %>
        <%= f.file_field :image %>
    </div>

    <%= f.submit "投稿する" %>
<% end %>
    
<%= link_to "一覧に戻る", sweets_path %>
